*{
  margin: 0;
  padding: 0;
}
.preloaderr{
  background-color: black;
  height: 100vh;
}
.ScaleLoader{
  margin-left: 45%;
  padding-top: 20%;
}
.navlink{
  text-decoration: none;
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
}
.navlinks{
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: 60%;
}
.hashLink{
  color: #ffffff;
  font-size: 17px;
  font-weight: 500;
}
.bannar{
  background-color: black;
}
.bannartext{
  margin-top: 18%;
  color: #ffffff;
  /* width: 10px; */
}
.img1{
  width: 80%;
  margin-top: 40%;
  margin-left: 10%;
}
.but1{
  background-color: tomato;
  border: none;
  padding: 10px;
  border-radius: 10%;
  font-size: 20px;
  font-weight: 350;
  
}